* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centralização do conteúdo */
.container {
    text-align: center;
}

/* Imagem grande no topo */
.top-image {
    width: 100%;
    max-width: 1200px; /* Defina uma largura máxima para a imagem */
    height: auto;
    margin-bottom: 20px; /* Espaçamento entre o topo e a logo */
}

/* Estilo da logo */
.logo {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos dos links */
.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
